#header
{
	background-color: rgb(241, 241, 241);
	height: 4.0em;
	border-bottom: 1px solid rgb(235, 235, 235);
}

#footer
{
	height: 4.0em;
background: rgb(241, 241, 241);
position: fixed;
bottom: 0;
width: 100%;
border-top: 1px solid rgb(235, 235, 235);
}


#searchTextBox {
width: 78%;
border: 1px solid rgb(200, 200, 200);
padding: 0px;
height: 1.9em;
}


#textBoxAndSearch {
margin-left: -4%;
}








#favoritePanel{

display: inline-block;
height: 31em;
width: 15em;
background-color: rgb(229, 229, 229);
border: 1px solid rgb(220, 222, 222);

}

ol {
background-color: rgb(255, 255, 255);
list-style-type: none;
}


li {
height: 2em;
}


li:hover {
background-color: rgb(55, 110, 245);
//background-color: rgb(146, 185, 255);
color: rgb(255, 255, 255);
}




#signOut{
	/* background-color: rgb(83, 184, 63);
color: rgb(255, 255, 255);
text-decoration: inherit;
padding: 5px 0px 5px 0px;
font-family: Segoe UI;
font-size: 13px;
position: relative;
bottom: 1.7em;
left: 3em;
margin-left: 88%; */
background-color: rgb(83, 184, 63);
color: rgb(255, 255, 255);
text-decoration: inherit;
padding: 5px 0px 5px 0px;
font-family: Segoe UI;
font-size: 13px;
margin-left: 55%;



}

#signOut > a{
	color: rgb(255, 255, 255);
text-decoration: none;
font-size: 13px;
padding: 2px 14px 4px 14px;
}



#signIn{
	background-color: rgb(224, 74, 57);
color: rgb(255, 255, 255);
text-decoration: inherit;
padding: 6px;
font-family: Segoe UI;
font-size: 13px;
margin-left: 15%;

}

#signIn > a{
	color: rgb(255, 255, 255);
text-decoration: none;
font-size: 13px;
padding: 2px 14px 4px 14px;
}

a{
	text-decoration: none;
}


#searchButton
{
	background-color: rgb(67, 124, 255);
padding: 2px 14px 4px 14px;
border: 1px solid rgb(160, 195, 255);
color: rgb(255, 255, 255);
cursor: pointer;

}


#favoritePanel > div > span {
display: block;
margin: 2px 0px 2px 0px;
}


#favoritePanel > div > span:hover {
    background-color: white;
    #favoritePanel > div > span >img:nth-child(2)
    {
        visibility:visible;   
    }
    
    
}


#favoritePanel > div > span > img:nth-child(1) {
width: 150px;
height: 100px;
padding: 20px;
margin: 0px 5px 0px 5px;
}




.enableFavoriteButton{
	background-color: rgb(67, 127, 245);
padding: 5px;
color: rgb(255, 255, 255);
font-family: sans-serif;
font-size: 15px;
cursor: pointer;
border: 1px solid rgb(160, 195, 255);
}

.disableFavoriteButton{
	background-color: rgb(160, 190, 248);
color: rgb(250, 250, 250);
font-family: sans-serif;
font-size: 15px;
}

#favoriteButton {
display: inline-block;
margin-top: 1%;
margin-left: 30%;
padding: 5px 2%;
}



#author {
display: inline-block;
margin-top: 1%;
margin-left: 1%;
background-color: rgb(67, 134, 250);
color: rgb(255, 255, 255);
padding: 4px;
font-family: sans-serif;
}

#brandLogo {
margin-left: 30%;
font-size: 40px;
}



